.Recipe {
  $self: &;
  background: #ffffff;
  box-shadow: -2px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 36px 28px;
  margin: 23px 0px;
  color: #7a7a7a;
  cursor: pointer;

  &--open {
    #{ $self }__container {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
    }

    #{ $self }__title {
      margin-top: 30px;
    }

    #{ $self }__btn {
      width: auto;
      margin: 0;
      height: auto;
      border-radius: 10px;
    }

    #{ $self }__col {
      width: 100%;
      &--hidden {
        display: block;
      }

      &--missing {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.05em;
        color: #ffbcf8;
        display: flex !important;
        align-items: center;
        margin: 10px 0px;
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__col {
    &:nth-child(4) {
      margin-left: auto;
    }

    &--hidden {
      display: none;
    }
  }

  &__link {
    background: #3af4c8;
    border-radius: 10px;
    display: block;
    width: 100%;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 12px 0px;
  }

  &__missing {
    background: #ffbcf8;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-right: 15px;
  }

  &__title {
    text-align: left;
  }

  &__btn {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 15px;
    transition: border-radius 0.3s ease;

    img {
      width: 140%;
    }
  }
}
