@keyframes shake-animation {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.Item {
  position: relative;
  margin: 20px 0px;

  &--controls {
    margin-bottom: 40px;

    .Item__container {
      animation: shake-animation 0.82s infinite;
    }
  }

  &__container {
    display: flex;
    background: #ffffff;
    box-shadow: -2px 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 33px;
    align-items: center;
    position: relative;
    z-index: 1;
    // animation-direction: alternate;
  }

  &__text {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #7a7a7a;
  }

  &__tickBox {
    margin-left: auto;
  }

  &__tickBoxContainer {
    border: 3px solid #d0d0d0;
    box-sizing: border-box;
    border-radius: 3px;
    width: 25px;
    height: 25px;
    position: relative;
  }

  &__tick {
    position: absolute;
    bottom: 0px;
  }

  &__controls {
    display: flex;
    box-shadow: -2px 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;

    &--active {
      transform: translateY(30px);
      opacity: 1;
    }
  }

  &__delete {
    background: #ff9d9d;
    border-radius: 15px 15px 0px 15px;
    width: 50%;
    padding: 30px 0px 6px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__close {
    background: #c9ff9f;
    border-radius: 15px 15px 15px 0px;
    width: 50%;
    padding: 30px 0px 6px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
